/* navibutton.css */
.NaviIcon {
    padding: 10px 20px;
    background-color: #2F855A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .NaviIcon:hover {
    background-color: #276749;
  }